{% extends 'base.html' %}

{% block nav %}
    <ul class="nav">
        <!-- Main menu -->
        <li class="current"><a href="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li><a href="/all_meetings"><i class="glyphicon glyphicon-list"></i> All Meetings</a></li>
        <li><a href="/add_meeting"><i class="glyphicon glyphicon-list"></i> Add Meeting</a></li>
        <li><a href="/add_task"><i class="glyphicon glyphicon-tasks"></i>Add Task</a></li>
        <li><a href="/all_tasks"><i class="glyphicon glyphicon-tasks"></i>All Tasks</a></li>
        <li><a href="/"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
    </ul>
{% endblock %}