{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
        <!-- styles -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
    <br><br><br><br>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <h4 class="card-header text-center">Enter OTP</h4>
                <div class="card-block">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>OTP</label>
                            <input name="code" id="code" type="number" class="form-control">
                        </div>
                        {% for message in messages %}

                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                {{ message }}

                            </div>
                        {% endfor %}
                        <div class="mx-auto text-center">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</html>
